* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

nav,
footer {
    background-color: lightgrey;
}

h1{
    margin:0;
}

body{
    margin:0;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

header {
    padding: 0px 15px 10px 15px;
}


.workout {
    padding-top: 20px;
}

.date {
    background-color: lightgrey;
}

table {
    margin: auto;
    margin-top: 15px;
}

.new {
    display: block;
    margin: 20px auto;

}